<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu internetowego. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ca15bd7a-b87f-4a69-a679-21f0f5e7113c/resourceGroups/przetargi_group/providers/Microsoft.Web/sites/przetargi</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://przetargi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>39ba7595-30f3-4764-b7f5-4808875dc084</ProjectGuid>
    <PublishUrl>https://przetargi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$przetargi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>